// Fontawesome import
@import './../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';

// Bootstrap import
@import './../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import './../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import './../../node_modules/bootstrap/scss/bootstrap-utilities.scss';

// Fonts import
@import './styles/fonts';

// Variables import
@import './styles/variables';

// UI import
@import './styles/ui/button.module';

// Common import
@import './styles/common/index';

// Catalog import
@import './styles/catalog/index';

// Home Content import
@import './styles/home/home-content';

// Category Page import
@import './styles/category-page/category-page.module';

// Product Description import
@import './styles/product-description/product-description';

// Shopping Cart import
@import './styles/shopping-cart/shopping-cart';

// Sign In import
@import './styles/sign-in/sign-in';

// Shipping import
@import './styles/shipping/shipping';

// Billing import
@import './styles/billing/billing';

// Confirmation import
@import './styles/confirmation/confirmation';

body {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
  color: $brand-primary;
}

a,
button,
input[type='button'] {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

.content-main {
  text-align: center;

  .home-catalog-preview {
    border-top: 2px solid $gray-primary;
    padding-top: 10px;
    margin-bottom: 24px;

    &-header {
      margin-bottom: 10px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 24px;
      }
    }

    &-header > h1 {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;

      @include media-breakpoint-up(lg) {
        font-size: 36px;
        line-height: 48px;
      }
    }
  }

  .header-text-transform {
    text-transform: uppercase;
  }
}

.header3 {
  & > h1 {
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
